[submodule "packages/turahe/master-data"]
	path = packages/turahe/master-data
	url = git@github.com:turahe/master-data.git
[submodule "packages/turahe/laravel-installer"]
	path = packages/turahe/laravel-installer
	url = git@github.com:turahe/laravel-installer.git
[submodule "packages/turahe/laravel-likeable"]
	path = packages/turahe/laravel-likeable
	url = git@github.com:turahe/laravel-likeable.git
[submodule "packages/turahe/laravel-counters"]
	path = packages/turahe/laravel-counters
	url = git@github.com:turahe/laravel-counters.git
[submodule "packages/turahe/laravel-wallet"]
	path = packages/turahe/laravel-wallet
	url = git@github.com:turahe/wallet.git
[submodule "resources/themes/default"]
	path = resources/themes/default
	url = git@github.com:turahe/theme-default.git
[submodule "resources/themes/market"]
	path = resources/themes/market
	url = git@github.com:turahe/theme-market.git
[submodule "resources/themes/medium"]
	path = resources/themes/medium
	url = git@github.com:turahe/theme-medium.git
[submodule "resources/themes/shopwise"]
	path = resources/themes/shopwise
	url = git@github.com:turahe/theme-shopwise.git
[submodule "packages/turahe/store"]
	path = packages/turahe/store
	url = git@github.com:turahe/store.git
